
        .navStyle {
            background-color: #ffffff;
            height: 6rem;

        }

        .navbar-brand img {
            height: 4rem;
            width: 9.5rem;

        }

        .navbar-nav .nav-link {
            color: black;
            font-size: 1rem;
            font-style: "Roboto", sans-serif;
        }

        .navbar-nav .nav-link:hover {
            color: #8d1010;
        }

        .navbar-nav .nav-link.active {
            color: #8d1010;
        }

        .btn-download {
            background-color: #8d1010;
            color: white;
            border-radius: 20px;
            font-size: 1rem;
            min-width: 1rem
        }

        .nav-item-style {
            margin-right: 1rem;

        }

        /* hero section   */
        .HeroHeading {
            font-size: 3rem;
            font-weight: 700;
            color: #8d1010;
            margin-bottom: 1rem;
            font-style: "Roboto", sans-serif;
        }

        .HeroPara {
            font-size: 1.5rem;
            font-weight: 500;
            color: #3d4348cb;
            margin-bottom: 1rem;
            font-style: "Roboto", sans-serif;
        }

        .btn-BookEdviser {
            width: 12rem;
            height: 3rem;
            background-color: #8d1010;
            color: white;
            border-radius: 30px;
            font-size: 1rem;
            font-weight: 500;


        }

        .btn-watch-video {
            width: 12rem;
            height: 3rem;

            color: #000000;

            border-radius: 30px;
            font-size: 1rem;
            font-weight: 500;
            margin-left: 5%;
            text-decoration: none;
            padding-top: 5%;

        }

        .fa-play-custom {
            font-size: 1.5rem;
            margin-right: 0.5rem;
            color: #8d1010;

        }

        .hero-img {
            max-width: 50%;

            height: auto;
        }

        @media (max-width: 768px) {

            /* Adjust the breakpoint as needed */
            .hero-img {
                min-width: 100%;
                height: 60%;
            }
        }

        /* featured services section */
        .info-section {
            background-color: #f9f4f4;
            padding: 20px 0;
            overflow-x: hidden;
        }

        .info-box {
            text-align: center;
            padding: 20px;
        }

        .info-box i {
            font-size: 30px;
            color: #a83f39;
            padding: 20px;
            background-color: #e8d6d6;
            border-radius: 50%;
        }

        .info-box h5 {
            font-size: 18px;
            font-weight: bold;
            margin-top: 15px;
        }

        .info-box p {
            font-size: 14px;
            color: #555;
        }

        /*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
        .about {
            padding-bottom: 20px;
        }

        .about .content .who-we-are {
            text-transform: uppercase;
            margin-bottom: 15px;
            color: grey;
        }

        .about .content h3 {
            font-size: 1.7rem;
            font-weight: 500;
            color: rgb(52, 52, 52);
        }

        .about .content ul {
            list-style: none;
            padding: 0;
        }

        .about .content ul li {
            padding-bottom: 10px;
        }

        .about .content ul i {
            font-size: 1.25rem;
            margin-right: 4px;
            color: var(--accent-color);
        }

        .about .content p:last-child {
            margin-bottom: 0;
        }

        .about .content .read-more {

            font-weight: 500;
            font-size: 16px;
            letter-spacing: 1px;
            padding: 12px 24px;
            border-radius: 5px;
            transition: 0.3s;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            background-color: #8d1010;
            color: white;
        }

        .about .content .read-more i {
            font-size: 18px;
            margin-left: 5px;
            line-height: 0;
            transition: 0.3s;
        }

        .about .content .read-more:hover {
            background: #8d1010d6;
            padding-right: 19px;
        }

        .about .content .read-more:hover i {
            margin-left: 10px;
        }

        .about .about-images img {
            border-radius: 10px;
        }

        /*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
        .features .nav-tabs {
            border: 0;
        }

        .features .nav-item {
            width: 100%;
            margin-bottom: 15px;
        }

        .features .nav-item:last-child {
            margin-bottom: 0;
        }

        .features .nav-link {
            color: rgb(109, 109, 109);
            border: 0;
            padding: 30px;
            transition: 0.3s;
            border-radius: 10px;
            display: flex;
            cursor: pointer;
        }

        .features .nav-link i {
            background-color: #8d1010d6;
            color: var(--accent-color);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            width: 48px;
            height: 48px;
            font-size: 22px;
            flex-shrink: 0;
            border-radius: 50px;
            box-shadow: 0 2px 4px color-mix(in srgb, var(--default-color), transparent 85%);
        }

        .features .nav-link h4 {
            font-size: 20px;
            font-weight: 600;
            margin: 0 0 10px 0;
            transition: 0.3s;
        }

        .features .nav-link p {
            font-size: 15px;
            margin: 0;
        }

        .features .nav-link:hover {
            background: color-mix(in srgb, var(--accent-color), transparent 96%);
        }

        .features .nav-link.active {
            background: color-mix(in srgb, var(--accent-color), transparent 92%);
        }

        .features .tab-pane img {
            border-radius: 15px;
        }
        /*--------------------------------------------------------------
# Features Details Section
--------------------------------------------------------------*/
.features-details .features-item+.features-item {
    margin-top: 60px;
  }
  
  .features-details .features-item .content {
    background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    padding: 30px;
    border-radius: 10px;
  }
  
  .features-details .features-item h3 {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 15px;
  }
  
  .features-details .features-item .more-btn {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    padding: 6px 30px;
    border-radius: 6px;
  }
  
  .features-details .features-item .more-btn:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  }
  
  .features-details .features-item ul {
    list-style: none;
    padding: 0;
  }
  
  .features-details .features-item ul li {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .features-details .features-item ul li:last-child {
    padding-bottom: 0;
  }
  
  .features-details .features-item ul i {
    font-size: 20px;
    margin-right: 10px;
    color: var(--accent-color);
  }
  
  .features-details .features-item img {
    border-radius: 15px;
  }
  /*--------------------------------------------------------------
# Faq Section
--------------------------------------------------------------*/
.faq .section-title {
    padding-bottom: 20px;
  }
  
  .faq .faq-container .faq-item {
    position: relative;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .faq .faq-container .faq-item:last-child {
    margin-bottom: 0;
  }
  
  .faq .faq-container .faq-item h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0 30px 0 0;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .faq .faq-container .faq-item h3 .num {
    color: var(--accent-color);
    padding-right: 5px;
  }
  
  .faq .faq-container .faq-item h3:hover {
    color: var(--accent-color);
  }
  
  .faq .faq-container .faq-item .faq-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }
  
  .faq .faq-container .faq-item .faq-content p {
    margin-bottom: 0;
    overflow: hidden;
  }
  
  .faq .faq-container .faq-item .faq-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    line-height: 0;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .faq .faq-container .faq-item .faq-toggle:hover {
    color: var(--accent-color);
  }
  
  .faq .faq-container .faq-active {
    background-color: color-mix(in srgb, var(--accent-color), transparent 97%);
    border-color: color-mix(in srgb, var(--accent-color), transparent 80%);
  }
  
  .faq .faq-container .faq-active h3 {
    color: var(--accent-color);
  }
  
  .faq .faq-container .faq-active .faq-content {
    grid-template-rows: 1fr;
    visibility: visible;
    opacity: 1;
    padding-top: 10px;
  }
  
  .faq .faq-container .faq-active .faq-toggle {
    transform: rotate(90deg);
    color: var(--accent-color);
  }